*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
}

.navbar {
    background: none;
    z-index: 1;
    width: 97%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    font-weight: bold;
    font-family:Verdana;
    padding-left: 10px;
    color: white;
    font-size: 25px;
 
}

.scroll{
    background: #5e6062;
    top: -70px;
    border-radius: 0px;
    width: 97%;
    animation: fadedown .4s ease 1s forwards;
}


@keyframes fadedown {
    0%{
        top: -100px;
    }
    100%{
        top: 10px;
    }
}

.navbar ul li a { 
    display: block;
    text-decoration: none;
    color: black;
    font-weight:bold;
    font-size:17px;
}

.navbar ul li a:hover{
    display: block;
    color: white;
}

.navbar ul li .dropdown-menu{
    display: none;
    border: none;
}

.navbar ul li:hover .dropdown-menu{
    color: white;
    display: block;
    background: #5e6062;
    padding-top: 8px;
    border: none;
}

#background{
    margin-top:-120px;
    background:url(source/bg3.jpg) no-repeat;
    background-size:cover;
    padding-top:111px;
    height: 730px;
  }

.container-vid{
    margin: 0;
}
.cardvid {
    width: 950px;
    height: 618px;
}

.carousel-item video {
    width: 910px;
    padding-top: 75px;
    padding-left: 45px;
}
.card {
    background-color:#BABABA;
    height: 618px;
    width: 330px;
    border: 0;
    border-radius: 0;
}

.card-body h5 {
    padding-top: 80px;
    padding-left: 25px;
    color: whitesmoke;
    font-size: 25px;
}

.card-body p {
    padding-left: 10px;
    padding-top: 10px;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col p {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

